<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>count</key>
		<string>5799</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/86075bf97305f125c87d41c9d744d3c7.jpg</string>
		<key>keywords</key>
		<string>白菜 大白菜 维生素 纤维素 蛋白质 </string>
		<key>name</key>
		<string>白菜</string>
		<key>phone</key>
		<string>80002</string>
	</dict>
	<dict>
		<key>count</key>
		<string>3465</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/3780244482481ab0906eb10912aba215.jpg</string>
		<key>keywords</key>
		<string>百合 作用 多种 咳嗽 生物碱 </string>
		<key>name</key>
		<string>百合</string>
		<key>phone</key>
		<string>81157</string>
	</dict>
	<dict>
		<key>count</key>
		<string>2471</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/71166bd7cf2dc866d5ea5890c0847d26.jpg</string>
		<key>keywords</key>
		<string>萝卜 帮助 白萝卜 消化 提高 </string>
		<key>name</key>
		<string>白萝卜</string>
		<key>phone</key>
		<string>84499</string>
	</dict>
	<dict>
		<key>count</key>
		<string>275</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/d317397581a9291a01f49953c767bfcd.jpg</string>
		<key>keywords</key>
		<string>扁豆 白扁豆 消化不良 含有 食用 </string>
		<key>name</key>
		<string>扁豆</string>
		<key>phone</key>
		<string>86588</string>
	</dict>
	<dict>
		<key>count</key>
		<string>2189</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/5c8090e3fbdaf03174c45c9f4ef161ba.jpg</string>
		<key>keywords</key>
		<string>菠菜 食用 促进 维生素 胡萝卜素 </string>
		<key>name</key>
		<string>菠菜</string>
		<key>phone</key>
		<string>81148</string>
	</dict>
	<dict>
		<key>count</key>
		<string>854</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/1bc2522d434968d3d057883c0a6812ee.jpg</string>
		<key>keywords</key>
		<string>菠萝 食用 之一 品种 高血压 </string>
		<key>name</key>
		<string>菠萝</string>
		<key>phone</key>
		<string>87968</string>
	</dict>
	<dict>
		<key>count</key>
		<string>699</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e3063dc24b5940523182ac03f4500565.jpg</string>
		<key>keywords</key>
		<string>糙米 食用 血液循环 营养价值 维生素 </string>
		<key>name</key>
		<string>糙米</string>
		<key>phone</key>
		<string>88601</string>
	</dict>
	<dict>
		<key>count</key>
		<string>608</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/524e07de9dfcfbac20409147404e953d.jpg</string>
		<key>keywords</key>
		<string>橙子 胡萝卜素 食用 维生素 脂蛋白 </string>
		<key>name</key>
		<string>橙子</string>
		<key>phone</key>
		<string>89287</string>
	</dict>
	<dict>
		<key>count</key>
		<string>715</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e01ff5986f9c032fd93d072a7def3ca3.jpg</string>
		<key>keywords</key>
		<string>大豆 骨质疏松症 作用 营养价值 可以 </string>
		<key>name</key>
		<string>大豆</string>
		<key>phone</key>
		<string>88209</string>
	</dict>
	<dict>
		<key>count</key>
		<string>252</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/221786a3a4b5e6ddfbd8c0c28c688ad7.jpg</string>
		<key>keywords</key>
		<string>鸡蛋黄 维生素 卵磷脂 治疗 蛋黄 </string>
		<key>name</key>
		<string>蛋黄</string>
		<key>phone</key>
		<string>86638</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1037</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/51ad536adaeb95f33c8abbdd69565abd.jpg</string>
		<key>keywords</key>
		<string>维生素 自古以来 红枣 营养成分 胡萝卜素 </string>
		<key>name</key>
		<string>大枣</string>
		<key>phone</key>
		<string>88108</string>
	</dict>
	<dict>
		<key>count</key>
		<string>118</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/933dea26af74afa47d35620e888e21e1.jpg</string>
		<key>keywords</key>
		<string>双子叶植物 多年生 常见 发白 块根 </string>
		<key>name</key>
		<string>地瓜</string>
		<key>phone</key>
		<string>82262</string>
	</dict>
	<dict>
		<key>count</key>
		<string>127</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c7cbd261a1b3befa5049bcb451aab6a3.jpg</string>
		<key>keywords</key>
		<string>冬菇 美味可口 花菇 色泽鲜明 香气 </string>
		<key>name</key>
		<string>冬菇</string>
		<key>phone</key>
		<string>82866</string>
	</dict>
	<dict>
		<key>count</key>
		<string>564</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/18141bc185c2d53b7dd727319fa25951.jpg</string>
		<key>keywords</key>
		<string>冬瓜 食用 维生素 高血压 清热 </string>
		<key>name</key>
		<string>冬瓜</string>
		<key>phone</key>
		<string>85850</string>
	</dict>
	<dict>
		<key>count</key>
		<string>335</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/d9b3a2561037b0c62941df67d52d566e.jpg</string>
		<key>keywords</key>
		<string>山西 晚熟 优良品种 鲜食 华北地区 </string>
		<key>name</key>
		<string>冬枣</string>
		<key>phone</key>
		<string>88036</string>
	</dict>
	<dict>
		<key>count</key>
		<string>3784</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/4bba395a2857fc6989aab056c952f9f6.jpg</string>
		<key>keywords</key>
		<string>豆腐 体质 食用 优质 豆腐块 </string>
		<key>name</key>
		<string>豆腐</string>
		<key>phone</key>
		<string>84317</string>
	</dict>
	<dict>
		<key>count</key>
		<string>99</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/6d5bc05d7c858eae7c89437c22975145.jpg</string>
		<key>keywords</key>
		<string>豌豆苗 丰富 豆科植物 营养 味道鲜美 </string>
		<key>name</key>
		<string>豆苗</string>
		<key>phone</key>
		<string>88477</string>
	</dict>
	<dict>
		<key>count</key>
		<string>101</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/11c85a1d8494f11ff53c5c68bd58a9aa.jpg</string>
		<key>keywords</key>
		<string>豆腐皮 营养食品 豆制品 低脂肪 黄光亮 </string>
		<key>name</key>
		<string>豆皮</string>
		<key>phone</key>
		<string>87362</string>
	</dict>
	<dict>
		<key>count</key>
		<string>747</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/d9b913065657b7b91d84eb9d494bd74b.jpg</string>
		<key>keywords</key>
		<string>蜂蜜 花蜜 食用 作用 改善 </string>
		<key>name</key>
		<string>蜂蜜</string>
		<key>phone</key>
		<string>80312</string>
	</dict>
	<dict>
		<key>count</key>
		<string>542</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c70af20a638da619f406d1c24d3c8204.jpg</string>
		<key>keywords</key>
		<string>枸杞 枸杞子 食用 脂肪肝 有 </string>
		<key>name</key>
		<string>枸杞</string>
		<key>phone</key>
		<string>84011</string>
	</dict>
	<dict>
		<key>count</key>
		<string>415</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/dc77b447928d7535226ddbc37457091f.jpg</string>
		<key>keywords</key>
		<string>桂圆 食用 龙眼 提高 有 </string>
		<key>name</key>
		<string>桂圆</string>
		<key>phone</key>
		<string>81068</string>
	</dict>
	<dict>
		<key>count</key>
		<string>2096</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/ae62f132bacd9f2c966454ebf0dfa22d.jpg</string>
		<key>keywords</key>
		<string>海带 大量 中含有 甲状腺 食用 </string>
		<key>name</key>
		<string>海带</string>
		<key>phone</key>
		<string>84448</string>
	</dict>
	<dict>
		<key>count</key>
		<string>560</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/bebcd3576fc1907b0ac80c9468b7b7bb.jpg</string>
		<key>keywords</key>
		<string>海参 食用 体质 适宜 冠心病 </string>
		<key>name</key>
		<string>海参</string>
		<key>phone</key>
		<string>88112</string>
	</dict>
	<dict>
		<key>count</key>
		<string>133</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/2013244fa4b997b18cea74d04e2e4da3.jpg</string>
		<key>keywords</key>
		<string>哈密瓜 新疆 甜瓜 冬瓜 大部分地区 </string>
		<key>name</key>
		<string>哈密瓜</string>
		<key>phone</key>
		<string>89680</string>
	</dict>
	<dict>
		<key>count</key>
		<string>475</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/41a0868ea3e9b5f2fb2c96c16bcfeca1.jpg</string>
		<key>keywords</key>
		<string>黑豆 蛋白质 微量元素 含量 人体 </string>
		<key>name</key>
		<string>黑豆</string>
		<key>phone</key>
		<string>89130</string>
	</dict>
	<dict>
		<key>count</key>
		<string>644</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/0298658cef0abe5a14298d49dfe23d42.jpg</string>
		<key>keywords</key>
		<string>黑木耳 木耳 食用 营养价值 动脉粥样硬化 </string>
		<key>name</key>
		<string>黑木耳</string>
		<key>phone</key>
		<string>88187</string>
	</dict>
	<dict>
		<key>count</key>
		<string>707</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/01bbef83de07bb1b13807c517840d92a.jpg</string>
		<key>keywords</key>
		<string>黑芝麻 维生素 食用 芝麻 身体虚弱 </string>
		<key>name</key>
		<string>黑芝麻</string>
		<key>phone</key>
		<string>84227</string>
	</dict>
	<dict>
		<key>count</key>
		<string>843</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/ef4ba8004a1e002652500a9bc28d064c.jpg</string>
		<key>keywords</key>
		<string>核桃 食用 作用 胡桃 神经衰弱 </string>
		<key>name</key>
		<string>核桃</string>
		<key>phone</key>
		<string>85508</string>
	</dict>
	<dict>
		<key>count</key>
		<string>344</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/0a817dd0d44b1ba040f9c8aae4362724.jpg</string>
		<key>keywords</key>
		<string>双子叶植物 多年生 红薯 常见 发白 </string>
		<key>name</key>
		<string>红薯</string>
		<key>phone</key>
		<string>81977</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1069</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/9e0f421beb0175100ad32c676e14b417.jpg</string>
		<key>keywords</key>
		<string>红枣 功效 非常丰富 含量 中含有 </string>
		<key>name</key>
		<string>红枣</string>
		<key>phone</key>
		<string>81873</string>
	</dict>
	<dict>
		<key>count</key>
		<string>414</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/2212173c7f1ae74938606f6d41f9fc1f.jpg</string>
		<key>keywords</key>
		<string>大豆 缺铁性贫血 消化吸收 血管硬化 人体 </string>
		<key>name</key>
		<string>黄豆</string>
		<key>phone</key>
		<string>87258</string>
	</dict>
	<dict>
		<key>count</key>
		<string>6142</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/8b4a4394d03063a3a5ec1953aa710ccf.jpg</string>
		<key>keywords</key>
		<string>黄瓜 作用 糖尿病人 有 中含有 </string>
		<key>name</key>
		<string>黄瓜</string>
		<key>phone</key>
		<string>81926</string>
	</dict>
	<dict>
		<key>count</key>
		<string>277</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/ba0670c0df119e5ae9b874dc736f64e7.jpg</string>
		<key>keywords</key>
		<string>黄花菜 食用 内蒙古 胡萝卜素 营养价值 </string>
		<key>name</key>
		<string>黄花菜</string>
		<key>phone</key>
		<string>82353</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1069</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/41fc5dd4a8dab532f51b692ddd3d00c1.jpg</string>
		<key>keywords</key>
		<string>花生 不宜 食用 维生素 作用 </string>
		<key>name</key>
		<string>花生</string>
		<key>phone</key>
		<string>80265</string>
	</dict>
	<dict>
		<key>count</key>
		<string>94</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/7520625c7f5b3bcd23bd0a2e936ed39f.jpg</string>
		<key>keywords</key>
		<string>花生油 花生 人体内 胆固醇 食用植物油 </string>
		<key>name</key>
		<string>花生油</string>
		<key>phone</key>
		<string>85606</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1008</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/970926368efffdbc1bf428e6d2554d60.jpg</string>
		<key>keywords</key>
		<string>胡萝卜 维生素 胡萝卜素 食欲不振 含有 </string>
		<key>name</key>
		<string>胡萝卜</string>
		<key>phone</key>
		<string>84260</string>
	</dict>
	<dict>
		<key>count</key>
		<string>166</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/eb13425ccaf1f4ab8f8234bb22769003.jpg</string>
		<key>keywords</key>
		<string>荠菜 维生素 糖尿病 胡萝卜素 含有 </string>
		<key>name</key>
		<string>荠菜</string>
		<key>phone</key>
		<string>87931</string>
	</dict>
	<dict>
		<key>count</key>
		<string>851</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c572f5a98bbea7fccfa8d2c4826791ec.jpg</string>
		<key>keywords</key>
		<string>鸡蛋 维生素 高胆固醇血症 蛋白质 神经系统 </string>
		<key>name</key>
		<string>鸡蛋</string>
		<key>phone</key>
		<string>81324</string>
	</dict>
	<dict>
		<key>count</key>
		<string>209</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/50a2a363f4d530f8f4ee77426500012f.jpg</string>
		<key>keywords</key>
		<string>鸡肝 生长发育 免疫力 适宜 食用 </string>
		<key>name</key>
		<string>鸡肝</string>
		<key>phone</key>
		<string>88548</string>
	</dict>
	<dict>
		<key>count</key>
		<string>640</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/9c3024e98d5ddb9960c67adc8070c86b.jpg</string>
		<key>keywords</key>
		<string>鸡肉 体质 脂肪 食用 鸡腿肉 </string>
		<key>name</key>
		<string>鸡肉</string>
		<key>phone</key>
		<string>86096</string>
	</dict>
	<dict>
		<key>count</key>
		<string>550</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/b38c26fd72cbb1c83c5ea58a0965d911.jpg</string>
		<key>keywords</key>
		<string>韭菜 栽培 营养价值 补肾 不宜 </string>
		<key>name</key>
		<string>韭菜</string>
		<key>phone</key>
		<string>85236</string>
	</dict>
	<dict>
		<key>count</key>
		<string>336</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/2866a9e527cb516bbd47716998b7e8c9.jpg</string>
		<key>keywords</key>
		<string>鲫鱼 食用 鲫鱼汤 蛋白质 养殖 </string>
		<key>name</key>
		<string>鲫鱼</string>
		<key>phone</key>
		<string>86787</string>
	</dict>
	<dict>
		<key>count</key>
		<string>189</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/87d4fa82a5493702bc77d44359188443.jpg</string>
		<key>keywords</key>
		<string>桔子 维他命 水果 成熟 果实 </string>
		<key>name</key>
		<string>桔子</string>
		<key>phone</key>
		<string>84455</string>
	</dict>
	<dict>
		<key>count</key>
		<string>207</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/84a85f8d50d0661d5f79be2f3cabf717.jpg</string>
		<key>keywords</key>
		<string>橘子 食用 可以 动脉粥样硬化 具有 </string>
		<key>name</key>
		<string>橘子</string>
		<key>phone</key>
		<string>83623</string>
	</dict>
	<dict>
		<key>count</key>
		<string>163</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c809e045aff5018679a5ffb352bf0e76.jpg</string>
		<key>keywords</key>
		<string>空心菜 食用 适宜于 胆固醇 我国 </string>
		<key>name</key>
		<string>空心菜</string>
		<key>phone</key>
		<string>88786</string>
	</dict>
	<dict>
		<key>count</key>
		<string>369</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/4151ce13080f3c8c092ae8c9980b8436.jpg</string>
		<key>keywords</key>
		<string>辣椒 患者 食用 体质 果实 </string>
		<key>name</key>
		<string>辣椒</string>
		<key>phone</key>
		<string>88539</string>
	</dict>
	<dict>
		<key>count</key>
		<string>712</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/341f9ab0077a8aa25d55d45a065d17e2.jpg</string>
		<key>keywords</key>
		<string>作用 动脉粥样硬化 维生素 果实 分布 </string>
		<key>name</key>
		<string>梨</string>
		<key>phone</key>
		<string>87939</string>
	</dict>
	<dict>
		<key>count</key>
		<string>481</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/f7397ec2196a3a716dc79f577cdb1740.jpg</string>
		<key>keywords</key>
		<string>莲藕 作用 营养价值 有 止血 </string>
		<key>name</key>
		<string>莲藕</string>
		<key>phone</key>
		<string>84016</string>
	</dict>
	<dict>
		<key>count</key>
		<string>523</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/5ec6a6bd2c00551fe1a8f748381bbf8c.jpg</string>
		<key>keywords</key>
		<string>莲子 食用 作用 有 生物碱 </string>
		<key>name</key>
		<string>莲子</string>
		<key>phone</key>
		<string>86591</string>
	</dict>
	<dict>
		<key>count</key>
		<string>298</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e87d8fec566c529589e8257bbdf89772.jpg</string>
		<key>keywords</key>
		<string>芦荟 品种 我国 库拉索 食用 </string>
		<key>name</key>
		<string>芦荟</string>
		<key>phone</key>
		<string>84249</string>
	</dict>
	<dict>
		<key>count</key>
		<string>292</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c3baf4691b2907f9109914f26bcae5fe.jpg</string>
		<key>keywords</key>
		<string>萝卜 白萝卜 种子 圆形 圆锥形 </string>
		<key>name</key>
		<string>萝卜</string>
		<key>phone</key>
		<string>86181</string>
	</dict>
	<dict>
		<key>count</key>
		<string>130</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/0374467f57c5e493db3b1230b7f072eb.jpg</string>
		<key>keywords</key>
		<string>绿茶 体质 茶汤 外形 杀青 </string>
		<key>name</key>
		<string>绿茶</string>
		<key>phone</key>
		<string>82996</string>
	</dict>
	<dict>
		<key>count</key>
		<string>435</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/4ae9870c841d458b8681ffdcea44a127.jpg</string>
		<key>keywords</key>
		<string>绿豆 清热解毒 食用 中毒者 患者 </string>
		<key>name</key>
		<string>绿豆</string>
		<key>phone</key>
		<string>88349</string>
	</dict>
	<dict>
		<key>count</key>
		<string>535</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/d0c2585914764cff2fa2e82827fcbf5f.jpg</string>
		<key>keywords</key>
		<string>猕猴桃 猕猴 一般 是因为 椭圆形 </string>
		<key>name</key>
		<string>猕猴桃</string>
		<key>phone</key>
		<string>82563</string>
	</dict>
	<dict>
		<key>count</key>
		<string>252</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/9fc21a7ed03854c785b13469cc715ae8.jpg</string>
		<key>keywords</key>
		<string>蘑菇 菌柄 粗纤维 食用菌 癌细胞 </string>
		<key>name</key>
		<string>蘑菇</string>
		<key>phone</key>
		<string>88419</string>
	</dict>
	<dict>
		<key>count</key>
		<string>241</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/0f588af623b07136f5d7754d98ba90fb.jpg</string>
		<key>keywords</key>
		<string>黑木耳 木耳 缺铁性贫血 黑龙江省 食用 </string>
		<key>name</key>
		<string>木耳</string>
		<key>phone</key>
		<string>80568</string>
	</dict>
	<dict>
		<key>count</key>
		<string>467</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/cab2821a54cd34ab3ae9a9e7e1f5fdd2.jpg</string>
		<key>keywords</key>
		<string>木瓜 番木瓜 木瓜蛋白酶 作用 中含有 </string>
		<key>name</key>
		<string>木瓜</string>
		<key>phone</key>
		<string>84251</string>
	</dict>
	<dict>
		<key>count</key>
		<string>540</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e8f03175cb947ba3687677b5e03bc5ba.jpg</string>
		<key>keywords</key>
		<string>柠檬 肾结石 作用 维生素 食用 </string>
		<key>name</key>
		<string>柠檬</string>
		<key>phone</key>
		<string>87689</string>
	</dict>
	<dict>
		<key>count</key>
		<string>2111</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/fa8811648712ca005a35972d0ea3bb69.jpg</string>
		<key>keywords</key>
		<string>牛奶 维生素 蛋白质 脂肪 中含有 </string>
		<key>name</key>
		<string>牛奶</string>
		<key>phone</key>
		<string>88943</string>
	</dict>
	<dict>
		<key>count</key>
		<string>99</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c58a2e1d7792c152b2763e9fdaf14c61.jpg</string>
		<key>keywords</key>
		<string>牛肉 牛腩 体质 食用 的人 </string>
		<key>name</key>
		<string>牛腩</string>
		<key>phone</key>
		<string>80222</string>
	</dict>
	<dict>
		<key>count</key>
		<string>606</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/b5886f8ab33bbf86b04aaea843042631.jpg</string>
		<key>keywords</key>
		<string>牛肉 体质 食用 不宜 禁忌 </string>
		<key>name</key>
		<string>牛肉</string>
		<key>phone</key>
		<string>82805</string>
	</dict>
	<dict>
		<key>count</key>
		<string>88</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/ad513c725c478985fb63b1ec69c6da37.jpg</string>
		<key>keywords</key>
		<string>牛油 体质 人群 食用 哪些 </string>
		<key>name</key>
		<string>牛油</string>
		<key>phone</key>
		<string>80053</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1858</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/698ff45338f4d80decccb2f78ee1dc86.jpg</string>
		<key>keywords</key>
		<string>苹果 体质 食用 微量元素 不适宜 </string>
		<key>name</key>
		<string>苹果</string>
		<key>phone</key>
		<string>83534</string>
	</dict>
	<dict>
		<key>count</key>
		<string>591</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e7e38a27c5e1e87cc402ee3013a4b107.jpg</string>
		<key>keywords</key>
		<string>葡萄 葡萄汁 人体 葡萄糖 可以 </string>
		<key>name</key>
		<string>葡萄</string>
		<key>phone</key>
		<string>83337</string>
	</dict>
	<dict>
		<key>count</key>
		<string>577</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/9bc2669900dfbc8320838b4e1b072ce7.jpg</string>
		<key>keywords</key>
		<string>芹菜 作用 叶柄 高血压 缺铁性贫血 </string>
		<key>name</key>
		<string>芹菜</string>
		<key>phone</key>
		<string>80742</string>
	</dict>
	<dict>
		<key>count</key>
		<string>258</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/260b7c2cff8bbdf03561df347884f952.jpg</string>
		<key>keywords</key>
		<string>桑葚 作用 促进 桑椹 维生素 </string>
		<key>name</key>
		<string>桑葚</string>
		<key>phone</key>
		<string>82671</string>
	</dict>
	<dict>
		<key>count</key>
		<string>676</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/5541d464e5291d4a5073b53e9ccf3700.jpg</string>
		<key>keywords</key>
		<string>山药 含有 作用 延年益寿 脾胃 </string>
		<key>name</key>
		<string>山药</string>
		<key>phone</key>
		<string>86206</string>
	</dict>
	<dict>
		<key>count</key>
		<string>636</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/3a1c5aadca50c546c3635b37e08a32b0.jpg</string>
		<key>keywords</key>
		<string>山楂 山楂片 食用 果丹皮 作用 </string>
		<key>name</key>
		<string>山楂</string>
		<key>phone</key>
		<string>84735</string>
	</dict>
	<dict>
		<key>count</key>
		<string>400</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/2a73eb651eae985a835e5013a45ed9ae.jpg</string>
		<key>keywords</key>
		<string>石榴 维生素 我国 蛋白质 患者 </string>
		<key>name</key>
		<string>石榴</string>
		<key>phone</key>
		<string>89578</string>
	</dict>
	<dict>
		<key>count</key>
		<string>104</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e787cfe5e5f6ca93fcaf4bfea29d77e1.jpg</string>
		<key>keywords</key>
		<string>水蜜桃 体质 主枝 修剪 定植 </string>
		<key>name</key>
		<string>水蜜桃</string>
		<key>phone</key>
		<string>82396</string>
	</dict>
	<dict>
		<key>count</key>
		<string>243</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/3baf0dee1533c7b2087ee01597c0efe3.jpg</string>
		<key>keywords</key>
		<string>丝瓜 维生素 作用 丝瓜络 有 </string>
		<key>name</key>
		<string>丝瓜</string>
		<key>phone</key>
		<string>83948</string>
	</dict>
	<dict>
		<key>count</key>
		<string>287</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/74679652afcd25f31df3d2fe402a8756.jpg</string>
		<key>keywords</key>
		<string>松子 作用 中老年人 保健 不饱和 </string>
		<key>name</key>
		<string>松子</string>
		<key>phone</key>
		<string>82220</string>
	</dict>
	<dict>
		<key>count</key>
		<string>94</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/e0ca3ca45180a42db6834444da08a716.jpg</string>
		<key>keywords</key>
		<string>功效 跌打损伤 适用人群 桃仁 核桃仁 </string>
		<key>name</key>
		<string>桃仁</string>
		<key>phone</key>
		<string>86372</string>
	</dict>
	<dict>
		<key>count</key>
		<string>353</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/f0b10224445800f5d24899a1b2ee7ee8.jpg</string>
		<key>keywords</key>
		<string>甜瓜 食用 蛋白质 营养 碳水化合物 </string>
		<key>name</key>
		<string>甜瓜</string>
		<key>phone</key>
		<string>80581</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1578</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/2369e8989ec39856a3234b5a93baf204.jpg</string>
		<key>keywords</key>
		<string>土豆 有 动脉粥样硬化 预防 高血压 </string>
		<key>name</key>
		<string>土豆</string>
		<key>phone</key>
		<string>87159</string>
	</dict>
	<dict>
		<key>count</key>
		<string>133</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/16a5a9111628d8ad7eaeb6bd78ab6aea.jpg</string>
		<key>keywords</key>
		<string>莴笋 体质 食用 不适宜 的人 </string>
		<key>name</key>
		<string>莴笋</string>
		<key>phone</key>
		<string>87863</string>
	</dict>
	<dict>
		<key>count</key>
		<string>1095</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/7867a0d46af32f5fa9fad75634ea1c6c.jpg</string>
		<key>keywords</key>
		<string>香蕉 智慧 食用 甘蕉 碳水化合物 </string>
		<key>name</key>
		<string>香蕉</string>
		<key>phone</key>
		<string>81159</string>
	</dict>
	<dict>
		<key>count</key>
		<string>146</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/68b2bbb88783c3362cb8bb3199ab1598.jpg</string>
		<key>keywords</key>
		<string>香油 体质 芝麻 食用 哪些 </string>
		<key>name</key>
		<string>香油</string>
		<key>phone</key>
		<string>89601</string>
	</dict>
	<dict>
		<key>count</key>
		<string>143</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/87a0b926ff6e405ef4dfd449bc52f563.jpg</string>
		<key>keywords</key>
		<string>小白菜 促进 维生素 胡萝卜素 动脉粥样硬化 </string>
		<key>name</key>
		<string>小白菜</string>
		<key>phone</key>
		<string>85550</string>
	</dict>
	<dict>
		<key>count</key>
		<string>814</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/fd6a614ee318a598cf8b2b87f829ffea.jpg</string>
		<key>keywords</key>
		<string>西瓜 食用 西瓜皮 利尿 西瓜子 </string>
		<key>name</key>
		<string>西瓜</string>
		<key>phone</key>
		<string>84749</string>
	</dict>
	<dict>
		<key>count</key>
		<string>729</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c33ea96596e233ad8017bf39230c2961.jpg</string>
		<key>keywords</key>
		<string>栽培 中国 普遍 番茄 塑料大棚 </string>
		<key>name</key>
		<string>西红柿</string>
		<key>phone</key>
		<string>82747</string>
	</dict>
	<dict>
		<key>count</key>
		<string>287</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/cfe0c4500fb3c5345a2c51d5d09cc8cf.jpg</string>
		<key>keywords</key>
		<string>西兰花 菜花 维生素 作用 一种 </string>
		<key>name</key>
		<string>西兰花</string>
		<key>phone</key>
		<string>84477</string>
	</dict>
	<dict>
		<key>count</key>
		<string>329</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/f5cb6cb437b26b14ce285f36afe2fce8.jpg</string>
		<key>keywords</key>
		<string>杏仁 苦杏仁 维生素 果实 止咳 </string>
		<key>name</key>
		<string>杏</string>
		<key>phone</key>
		<string>80623</string>
	</dict>
	<dict>
		<key>count</key>
		<string>443</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/399484f1d68bd709421c512eb37c4064.jpg</string>
		<key>keywords</key>
		<string>杏仁 苦杏仁 含有 功效 物质 </string>
		<key>name</key>
		<string>杏仁</string>
		<key>phone</key>
		<string>89127</string>
	</dict>
	<dict>
		<key>count</key>
		<string>96</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/8f668c7bbbfa7048f567e388715871f5.jpg</string>
		<key>keywords</key>
		<string>芹菜 作用 一种 利尿 高血压 </string>
		<key>name</key>
		<string>西芹</string>
		<key>phone</key>
		<string>86109</string>
	</dict>
	<dict>
		<key>count</key>
		<string>256</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/3dc80b69ea8683da42d20f75959da671.jpg</string>
		<key>keywords</key>
		<string>燕麦 中含有 动脉粥样硬化 丰富 之一 </string>
		<key>name</key>
		<string>燕麦</string>
		<key>phone</key>
		<string>89576</string>
	</dict>
	<dict>
		<key>count</key>
		<string>326</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/27d7e191792a436323eba9d9dae3381b.jpg</string>
		<key>keywords</key>
		<string>银耳 肺原性心脏病 维生素 免疫力 月经不调 </string>
		<key>name</key>
		<string>银耳</string>
		<key>phone</key>
		<string>81131</string>
	</dict>
	<dict>
		<key>count</key>
		<string>384</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/78644f563e22c19cff28c66060c0f4e1.jpg</string>
		<key>keywords</key>
		<string>樱桃 特别 丰富 食用 维生素 </string>
		<key>name</key>
		<string>樱桃</string>
		<key>phone</key>
		<string>84096</string>
	</dict>
	<dict>
		<key>count</key>
		<string>185</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/f88fa98908e7bd92c9f15028c4c00eb5.jpg</string>
		<key>keywords</key>
		<string>体质 油菜 口腔溃疡 食用 哪些 </string>
		<key>name</key>
		<string>油菜</string>
		<key>phone</key>
		<string>86912</string>
	</dict>
	<dict>
		<key>count</key>
		<string>438</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/3486df780f5a6e866f89b7f4564978fb.jpg</string>
		<key>keywords</key>
		<string>柚子 中含有 水果 天然 高血压 </string>
		<key>name</key>
		<string>柚子</string>
		<key>phone</key>
		<string>88604</string>
	</dict>
	<dict>
		<key>count</key>
		<string>137</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/419ee0ea35bcfca87efe0a502a6b3280.jpg</string>
		<key>keywords</key>
		<string>甘蓝 中国 十字花科 二年生 起源于 </string>
		<key>name</key>
		<string>圆白菜</string>
		<key>phone</key>
		<string>80851</string>
	</dict>
	<dict>
		<key>count</key>
		<string>323</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/b965da75f5227ae2b9f4095ee20f2626.jpg</string>
		<key>keywords</key>
		<string>玉米 玉米粉 含有 动脉硬化 中含有 </string>
		<key>name</key>
		<string>玉米</string>
		<key>phone</key>
		<string>85848</string>
	</dict>
	<dict>
		<key>count</key>
		<string>162</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/5f96be8a8a06245a7d17af9a7e3e95e3.jpg</string>
		<key>keywords</key>
		<string>芋头 芋艿 作用 微量元素 人体 </string>
		<key>name</key>
		<string>芋头</string>
		<key>phone</key>
		<string>86160</string>
	</dict>
	<dict>
		<key>count</key>
		<string>378</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/abcecd8ec60e144f9aee0a0cba131691.jpg</string>
		<key>keywords</key>
		<string>维生素 大枣 食用 胆固醇 癌细胞 </string>
		<key>name</key>
		<string>枣</string>
		<key>phone</key>
		<string>80638</string>
	</dict>
	<dict>
		<key>count</key>
		<string>346</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/03522e8d16ba9d83125665cb8d261e90.jpg</string>
		<key>keywords</key>
		<string>榛子 微量元素 功效 坚果 以及 </string>
		<key>name</key>
		<string>榛子</string>
		<key>phone</key>
		<string>83994</string>
	</dict>
	<dict>
		<key>count</key>
		<string>946</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/2be6a837f12406b843333cec3ea41755.jpg</string>
		<key>keywords</key>
		<string>芝麻 体质 食用 皮肤 维生素 </string>
		<key>name</key>
		<string>芝麻</string>
		<key>phone</key>
		<string>86631</string>
	</dict>
	<dict>
		<key>count</key>
		<string>70</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/370a841a3c82b10a0be154a4041a2e81.jpg</string>
		<key>keywords</key>
		<string>香油 芝麻油 营养价值 中含有 不饱和 </string>
		<key>name</key>
		<string>芝麻油</string>
		<key>phone</key>
		<string>83055</string>
	</dict>
	<dict>
		<key>count</key>
		<string>429</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/574e7b1b686c5730c795d2355806c67b.jpg</string>
		<key>keywords</key>
		<string>猪肝 体质 食用 维生素 切开 </string>
		<key>name</key>
		<string>猪肝</string>
		<key>phone</key>
		<string>83908</string>
	</dict>
	<dict>
		<key>count</key>
		<string>101</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/a2c81f79e6f27f2b8a5c13e2ab0fae9f.jpg</string>
		<key>keywords</key>
		<string>衰老 蛋白质 重要因素 美味佳肴 猪蹄 </string>
		<key>name</key>
		<string>猪脚</string>
		<key>phone</key>
		<string>83548</string>
	</dict>
	<dict>
		<key>count</key>
		<string>192</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/59a3284d508bf5e873a54b547a61f3ea.jpg</string>
		<key>keywords</key>
		<string>猪皮 体质 食用 动脉硬化 不适宜 </string>
		<key>name</key>
		<string>猪皮</string>
		<key>phone</key>
		<string>81624</string>
	</dict>
	<dict>
		<key>count</key>
		<string>259</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/34e8416def52ff313fb90dcdfd4d1f85.jpg</string>
		<key>keywords</key>
		<string>猪蹄 皮肤 组织细胞 失血 适用人群 </string>
		<key>name</key>
		<string>猪蹄</string>
		<key>phone</key>
		<string>82355</string>
	</dict>
	<dict>
		<key>count</key>
		<string>676</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/c2a816ebfb5814c917f84ea69cf17120.jpg</string>
		<key>keywords</key>
		<string>节节 方法 胶质 组成 皮质 </string>
		<key>name</key>
		<string>猪尾巴</string>
		<key>phone</key>
		<string>82910</string>
	</dict>
	<dict>
		<key>count</key>
		<string>979</string>
		<key>face</key>
		<string>http://tnfs.tngou.net/image/food/150804/d27753578bb0142a1cbc0ab331793e6a.jpg</string>
		<key>keywords</key>
		<string>紫菜 体质 治疗 孢子 食用 </string>
		<key>name</key>
		<string>紫菜</string>
		<key>phone</key>
		<string>82222</string>
	</dict>
</array>
</plist>
